<h2>Compra de Productos</h2>

<ul>
  <li *ngFor="let producto of productos">
    <div>
      <strong>{{ producto.nombre }}</strong> - {{ producto.descripcion }} <br>
      Precio: {{ producto.precio | currency:'MXN' }} | Stock: {{ producto.stock }}
    </div>
    <div>
      <label>Cantidad: </label>
      <input type="number" min="1" [(ngModel)]="producto.cantidad">
      <button (click)="agregarAlCarrito(producto, producto.cantidad || 1)">Agregar al carrito</button>
    </div>
    <hr>
  </li>
</ul>

<button (click)="finalizarCompra()" [disabled]="carrito.length === 0">Finalizar Compra</button>
