<h2>Tu Subscripción</h2>

<div *ngIf="subscripcionInfo; else mensajeError">
  <p><strong>Subscripción:</strong> {{ subscripcionInfo.subscripcion }}</p>
  <p><strong>Descripción:</strong> {{ subscripcionInfo.descripcion }}</p>
  <p><strong>Precio:</strong> ${{ subscripcionInfo.precio }}</p>
  <p><strong>Duración:</strong> {{ subscripcionInfo.duracionDias }} días</p>
</div>

<qrcode *ngIf="qrData" [qrdata]="qrData" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>

<ng-template #mensajeError>
  <p>{{ error }}</p>
</ng-template>