body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000 !important;
  color: #00FF88;
  font-family: Arial, sans-serif;
}

app-root,
app-clase-form-template {
  display: block;
  background-color: transparent;
}